@import '../theme//variables';

.container-dashboard {
  display: grid;
  grid-gap: $spacing;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "user work play study"
    "user excercise social care";

    .item-user {
      grid-area: user;
    }
    .item-work {
      grid-area: work;
    }
    .item-play {
      grid-area: play;
    }
    .item-study {
      grid-area: study;
    }
    .item-excercise {
      grid-area: excercise;
    }
    .item-social {
      grid-area: social;
    }
    .item-care {
      grid-area: care;
    }
}
