@import './colors';

h1 {
  color: $color-white;
  margin: 0;
}

h2 {
  color: $color-white;
  margin: 0;
}

p {
  color: $color-white;
  margin: 0;
}

label {
  color: $color-pale-blue;
  margin: 0;
}
