// Layout
$spacing: 35px;

// Components
$card-radius: 20px;

// Font variables
$font-family: 'Rubik';
// Sizes
$font-size-h1: 56px;
$font-size-h2: 40px;
$font-size-h3: 18px;
$font-size-p: 18px;
$font-size-label: 15px;
// Mobile sizes
$font-size-h1-mobile: 32px;
$font-size-h2-mobile: 22px;
$font-size-h3-mobile: 18px;
$font-size-p-mobile: 18px;
$font-size-label-mobile: 14px;
// Weights
$light: 300;
$regular: 400;
$medium: 500;